@import url('https://fonts.googleapis.com/css?family=Amiri|Raleway');
html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#load_screen{
  background:white;
  color:black;
  position:fixed;
  opacity:1;
  z-index:10;
  top:0px;
  width:100vw;
  height:1600px;
  text-align:center;
}
#load_screen>#loading{
  color:black;
  width:120px;
  height:24px;
  margin:300px auto;

}

.logo{
  z-index:300000;
  margin-top:0px;
  height:150px;
  
}


#loader-animation{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;

}


.visible{
  opacity:1;
}

.hidden{
 opacity:0;
}

.navbar-brand{
height:30px;
}

.nav-link{
  font-family: 'Amiri', serif;
  color: black;
}

.landing{
  width: 100%;
  left: 0;
}
.jumbotron {
    /* The image used */
    background-color: lightblue;
  background-image: url("https://static.pexels.com/photos/358502/pexels-photo-358502.jpeg");

    /* Puts image in the back */
    z-index: -10;

    /* Full height */
    height: 100vh;
    width: 100vw;

    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-duration:4s;
 -webkit-animation-delay: 1s;
}


.landingSplashText{
color: white;
z-index: 5;
font-size: 90px;
font-weight: lighter;
font-family: 'Amiri', serif;
padding-top:30vh;
-webkit-animation-duration:3s;
-webkit-animation-delay: 2s;
}


.contSpacer{
  height: 10vh;
}

}
.textSnip1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
              url(https://images.pexels.com/photos/161963/chicago-illinois-skyline-skyscrapers-161963.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  background-attachment: fixed;
}

.aStyling{
  font-size:350px;
  font-weight: bold;
  font-family: 'Amiri', serif;
  margin-top:0px;
  background-color: transparent;
  line-height: .85em;

}

.aboutBreak{
  width:80px;
  color:black;
  height:2px;

}

.aboutUs{
  font-family: 'Amiri', serif;
}

.aboutText{
  font-size: 20px;
  font-weight: 100;
  overflow-x: hidden;
  font-family: 'Amiri', serif;
}

.scrollingDivider{
  /* The image used */

background-image: url("https://static.pexels.com/photos/358502/pexels-photo-358502.jpeg");
  padding: 0;
  margin: 0;

  /* Puts image in the back */
  z-index: -10;



  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Full height */
  height: 35vh;
  width: 100vw;
}



.weAreSub{
  font-size: 60px;
  font-weight: lighter;
  color: rgb(80,0,0);
    font-family: 'Amiri', serif;
}

/*==== Styling for ACG Edge Section =======*/

.valuesHeader{
  font-size: 90px;
  font-weight:lighter;
  font-family: 'Amiri', serif;
  text-align: center;
}

.valuesSub{
  font-size:45px;
  font-weight:lighter;
  color: rgb(80,0,0);
font-family: 'Amiri', serif;
}

.edgeHeadingBreak{width:60px;}

  .edgeHeadingSpacer{height: 15px; }


  .valueDivLine{
    width: 300px;
    float: left;
    margin-left: 15%;
  }

  .valueDescription{
    max-width: 90vw;
    font-size:20px;
    line-height:1.5em;
    font-family: 'Amiri', serif;
    text-align: left;
  }

.lastBreak{height: 10px;}



.caps{
  font-style: oblique;
  font-size: 40px;
  font-family: 'Amiri', serif;
}






i{
  color:black;
  color: rgb(80,0,0);
  font-family: 'Amiri', serif;

}

.valueText{
  font-size:30px;
  font-family: 'Amiri', serif;


}

.valueText:hover{
  font-size:32px;
}


.servicesTitle {
  text-align:center;
  font-size: 100px;
  font-weight:100;
    font-family: 'Amiri', serif;

}

.servicesHeader {
  text-align: center;
  font-size: 40px;
  font-family: 'Amiri', serif;


}

.serviceList {

  font-family: 'Amiri', serif;
  font-size: 20px;
  line-height: 1.2em;;
}

li {
    text-indent: -4px;
    text-align: left;
    margin-left: 20%;
}

.servHr{
  width: 70px;
}

.serviceSynopsis {
  font-size: 24px;
  font-style: italic;
  margin: 0px 80px;


    color: rgb(80,0,0);
    font-weight:lighter;
    font-family: 'Amiri', serif;

}

.ServicesDescription{
  max-width: 90vw;
  font-size:20px;
  line-height:1.5em;
  font-family: 'Amiri', serif;
  text-align: left;
  padding:10px;
}

@media only screen and (max-width: 775px) {
    .ServicesDescription  {
        text-align: center;
        padding-left: 20px;
    }
    li{
      margin-left: 140px;
      margin-bottom: 50px;
      margin-top: -20px;
      line-height: .15em;
    }
}


.servicesSpacer{
  height:30px;
}


.contactText{
text-align:left;
font-size:20px;
font-weight: lighter;
padding: 10px;
font-family: 'Amiri', serif;

}


.contactTitle{
    font-size: 60px;
    font-weight:100;
    font-family: 'Amiri', serif;
}

.contactText{
  text-align:center;
}

.contactSpacing{
  width: 60px;
  margin-bottom: 30px;
  margin-top:-10px;
}
.serviceDividers{
  width: 70px;
}


.message{
  padding-left:60px;
}

.contactDivider{
  width:60px;
  margin-top:-20px;
  margin-bottom:50px;
}

.scrollingFooter{
  /* The image used */

background-image: url("https://static.pexels.com/photos/358502/pexels-photo-358502.jpeg");
  padding: 0;
  margin: 0;





  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Full height */
  height: 5vh;
  width: 100vw;
  /* Full height */

  color: white;
  text-align: center;
  font-family: 'Amiri', serif;
  padding: 5px 0;

}
